<!DOCTYPE html>
<html lang="en">
<head>    
  <title>Group Goals</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
 
  <!--JQuery-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  
  <!-- Angular -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  
  {% load staticfiles %}
  <!--JavaScript-->
  <script src="{% static 'script.js' %}" async></script>
  <!--Bootstrap-->
  <link href="{% static 'bootstrap-3.3.6-dist/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
  <!-- Font-Awesome -->
  <link rel="stylesheet" href="{% static 'font-awesome-4.6.3/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />
  <!--CSS-->
  <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" />
</head>


<body>
{% block content %}
{% endblock content %}

</body>
</html>