table, th, td {
  border: 1px solid black;
  
}

table {
  margin: auto;
  margin-bottom: 10%;
  width: 100%;
  border-collapse: collapse;
}

tr th, td {
  font-size: .7em;
}

@media (min-width: 767px) {
  tr th, td {
    font-size: 1em;
  }
}

@media (min-width: 767px) {
  tr {
    height: 10vh;
  }
}

th, td {
  text-align: center;
  padding: 10px;
}

th {
  background-color: #444;
  color: white;
}

.selected {
  background-color: rgb(2,120,144);
}

a {
  color: black;
}

#login, #register {
  background-color: white;
  max-width: 335px;
  margin: 10% auto;
  border-radius: 5px;
}

@media (min-width: 767px) {
  #login, #register {
    border: solid #bbb 1px;
    box-shadow: -2px 2px 5px gray;
  }
}

#to_register, #to_login {
  display: inline-block;
  margin-bottom: 40px;
  float: right;
  font-size: 11px;
}

#login_header {
  display: inline;
}

#form-signin {
  max-width: 330px;
  padding: 15px;
}

#username, #password, .password {
  position: relative;
  height: auto;
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

#username {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: -1px;
}

#password, .password {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn-primary {
  background-color: rgb(2,120,144);
  margin-top: 5%;
}

.btn-primary:hover {
  background-color: rgb(2,100,124);
}

.rotate {
  -moz-transform:rotate(-180deg);
  -webkit-transform:rotate(-180deg);
  -o-transform:rotate(-180deg);
  -ms-transform:rotate(-180deg);
  transform:rotate(-180deg);
  transition: .5s;
}

.nested-goal {
  display: none;
}

.fa-chevron-down {
  cursor: pointer;
}

.center {
  text-align: center;
}

ul.nav.navbar-nav.navbar-right li:hover {
  background-color: #ddd;
}

ul.nav.navbar-nav.navbar-right li a {
  color: black;
}

ul.nav.navbar-nav.navbar-right li a:hover {
  color: rgb(2,120,144);
}

#week {
  text-align: center;
  margin-top: 65px;
}

@media (min-width:767px) {
  #week {
    margin-top: 10%;
  }
}

#new_goal {
  border: solid black 1px;
  border-radius: 5px;
  padding: 20px;
}

#newgoal h4 {
  text-align: center;
}

#profile-header {
  margin-top: 60px;
  font-size: 2em;
}

@media (min-width: 767px) {
  #profile-header {
    margin-top: 10%;
  }
}

.hide-small {
  display: none;
}

@media (min-width: 767px) {
  .hide-small {
    display: inline;
  }
}